@import "variables";


/*--------------------------------------------------
Base
--------------------------------------------------*/
body {
    background: $bg-main;
}

ul,ol{
    padding:0px;
    list-style: none;
    margin-bottom:0px;
    &.list-styled{
        list-style: disc;
    }
}

::selection {
    color: $font-title; 
    background: $bg-alternative;
}

.page-wrapper{
    padding-top:110px;
}

.wrapper {
    width:100%vw;
}

.spacer {
    width: 100%;
    height: 40px;

    &.light {
        background: $bg-main;
    }

    &.dark {
        background: $bg-secondary;
    }
      
    &.big {
        height: 100px;

        @include xs {
            height: 60px;
        }

        @include xxs {
            height: 30px;
        }
    }  
}


.bg-transparent {
    background: transparent !important;
}


.justify-content-center {
    justify-content: center;
}

/*--------------------------------------------------
Animations
--------------------------------------------------*/
a, a:hover, button, button:hover, .btnborder, .btntop { 
  transition: all 0.3s ease-in-out;
}

@include sm {
    [data-scroll] {
        transform: none!important;
    }
}

/*--------------------------------------------------
hiddend sections
--------------------------------------------------*/

.nav-sections-item-title{
    display:none;
}