@import "variables";


/*--------------------------------------------------
Breadcrumb
--------------------------------------------------*/
.breadcrumbs {
    ul{
        padding: 0;
        list-style: none;
        background: none;

        li {
            display: inline-block;
            padding-right: 0px;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 10px;
            
            a{
                font-weight: 400;
                text-transform: uppercase;
                font-size: 10px;
            }
            
            @include xs {
                padding-right: 0;
            }

            &.active {
                color: $font-title;
            }

            &:after {
                content: '\003e';
                position: relative;
                z-index: 1;
                top: -1px;
                right: 0px;

                @include xs {
                    right: -3px;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}