@import "variables";


/*--------------------------------------------------
Buttons
--------------------------------------------------*/
button, 
.btn {
    padding: 6px 24px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid $font-btn;
    color: $font-btn;
    background: transparent;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    outline: none;
    
    
    
    
    cursor:pointer;
    display:inline-block;


    &:hover {
        color: $font-btn-hover;
        background: $font-btn;

    }
    span{z-index: 10;position: relative;}

    &.btn-lg{
        padding: 10px 30px;
        font-size:18px;
    }

    &.btn-sm{
        padding: 4px 18px;
        font-size:13px;
    }
    
    &.btn-hot{
        color: $font-btn-hover;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(247, 94, 36, 0.5)), linear-gradient(#f75e24, #f75e24);
        &:hover{
            color: $font-btn-hover;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(254, 64, 15, 0.5)), linear-gradient(#fa491d, #fa491d);
        }
    }
    
    &.btn-gray{
        color: $font-btn;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(204, 204, 204, 0.4)), linear-gradient(#dddddd, #dddddd);
        &:hover{
            color: $font-btn;
            background-color: #cccccc;
        }
    }
}