.products-grid{
    .product-items{
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
        .item{
            width: 20%;
            padding:20px;
            @include md {
                width: 25%;
                padding: 20px;
            }
            @include sm {
                padding: 15px;
            }
            @include xs {
                width: 33%;
                padding: 15px;
            }
            @include xxs {
                width: 50%;
                padding: 10px;
            }
            
            img.photo{
                width: 100%;
                height:auto;
            }
        }
    }
}