@import "variables";


/*--------------------------------------------------
Footer
--------------------------------------------------*/
footer {
    padding: 100px 0 40px 0;
    background: transparent;
    font-size: 12px;

    @include xs {
            padding: 30px 0 40px 0;
    }
    .newsletter{
        background: $bg-secondary;
    }
    .footer{
        width: 100%;    
        .links-footer{
            display: flex;
            justify-content: space-between;
            .content-footer-menu{
                p{
                    font-size: 13px;
                    color: #000000;
                    font-weight: 500;
                    line-height: 1.38;
                    margin-bottom: 12px;
                }
                li{
                    a{
                        font-weight: 400;  
                        font-size: 13px;
                        color: #4a4a4a; 
                        line-height: 1;
                        &:hoer{
                            text-decoration: none;
                        }
                    }
                }
                .footer-payment-card{
                    display: flex;
                    align-content: flex-start;
                    li{
                        margin-right: 6px;
                    }
                }
            }
        }
    }

}