@import "variables";


/*--------------------------------------------------
Form ###TODO COMPLETELY
--------------------------------------------------*/
.required {
    color: #ff1616;
    font-style: normal;
}

.form {
    position: relative;
    z-index: 1;

    input,
    label,
    .form-control {
        &:focus {
            outline: 0;
            border: 0;
            border-bottom: 1px solid $bg-alternative;
        }
    }

    .form-control {
        border: none;
        border-bottom: 1px solid $bg-alternative;
        font-size: 14px;
        padding: 5px 0 10px 0;
        margin-bottom: 43px;
        height: 35px;

        &::selection {
            background: $bg-info;
            color: $bg-main;
        }
    }

    select.form-control {
        text-indent: 0.01px;
        appearance: none;
        text-overflow: "";
        background: url(../img/select-arrow-black.png) no-repeat right #fff !important;
    }

    .legend {
        position: relative;
        z-index: 1;

        span {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 8px;
            font-size: 11px;

            @include xs {
                position: static;
            } 
        }
    }

    input::placeholder, textarea::placeholder {
        color: $font-light-grey;
    }

    label {
        color: $font-light-grey;
        padding: 5px 0 10px 0;
    }

    textarea.form-control {
        border: 1px solid $bg-alternative;
        padding: 10px 15px;
        min-height: 120px;

        &:focus {
            border: 1px solid $bg-alternative;
        }
    }

    .error {
        border-bottom: 1px solid #ff1616 !important;
    }

    select {
        &.form-control:not([size]):not([multiple]) {
            height: auto;
        }
    }

    .checkbox {

        label {
            position: relative;
            margin-left: 25px;
        }

        input[type=checkbox] {
            position: absolute;
            top: -100px;
            left: -100px;
            opacity: 0.01;

            &.error {
                & + span {
                    color: #ff1616;

                    &:before {
                        border: 1px solid #ff1616;
                    }
                }
            }
        }

        span {
            position: relative;
            z-index: 1;
            cursor: pointer;

            &:before {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                z-index: 1;
                top: 1px;
                left: -23px;
                border: 1px solid $bg-main;
            }
        }
    }

    input[type="checkbox"]:checked + span:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: -18px;
        top: 6px;
        width: 6px;
        height: 6px;
        background: red;
    }

    .btn-inline-form {
        position: absolute;
        z-index: 1;
        right: -8px;
        top: 1px;
        background: none;
        border: none;

        &:after {
            font-family: 'giorgetti';
            content: '\62';
            color: $font-light-grey;
            font-size: 25px;
            cursor: pointer;
        }

        &:hover {
            &:after {
                color: yellowgreen;
            }
        }
    }

    .form_message_ok {
        color: $bg-sucess;
        border-bottom: 1px solid $bg-info;
        display: inline-block;
        text-transform: uppercase;
    }

    .form_message_ko {
        color: $bg-warning;
        border-bottom: 1px solid #ff1616;
        display: inline-block;
        text-transform: uppercase;
    }

}

/*--------------------------------------------------
Form group file
--------------------------------------------------*/
.form-group-file {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .input-file {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 0.01;
        height: 0;
        width: 0;

        &.error + label {
            border-bottom: 1px solid #ff1616 !important;
            color: #ff1616;
        }
    }

    label {
        display: block;
        color: $font-light-grey;
        border: none;
        border-bottom: 1px solid $bg-alternative;
        font-size: 14px;
        padding: 5px 0 10px 0;
        margin-bottom: 43px;
        height: 35px;
    }

    i.fa-check {
        margin-right: 3px;
        color: #187202;
    }
}