@import "variables";
$logo-width: 290px;

/*--------------------------------------------------
Header
--------------------------------------------------*/
header.page-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height:80px;
    display:flex;
    font-size: 11px;
    line-height: 16px;
    padding-top:24px;
    flex-direction: row-reverse;
    background-color:$bg-main;

    .material-icons{
        font-weight: 400;
        font-size: 18px !important;

        margin-top:-2px
    }
    .switcher-language{
        display:flex;
        flex: 1 0 auto;
        width: calc((100% - #{$logo-width})/2);
        font-weight: 400;
        .switcher-trigger{
            
            strong {
                border-bottom:1px solid $bg-border;
                span{
                    font-size: 11px;
                    font-weight: 400;
                    vertical-align: middle;
                }
            }
            
            &.active{
                strong{
                    border-bottom: 0px;
                    background:#fff;
                }
            }
        }
        .dropdown.switcher-options{
            margin-left:5px;
        }
        .dropdown, .dropdown a {
            font-size: 11px;
            cursor:pointer;
            color:$font-base;
            font-weight: 400;
        }
    }

    .panel.wrapper{
        display:flex;
        flex: 1 0 auto;
        width: calc((100% - #{$logo-width})/2);
        .panel.header{
            display:flex;
            flex: 1 0 auto;
            flex-direction:row;
            .minicart-wrapper{
                flex: 0 1 auto;
            }

            .block-search{
                flex: 0 1 auto;
                .block-title{
                    display:none;
                }
                form.minisearch{
                    padding:0px;
                    .search{
                        .control{
                            .nested{
                                display:none;
                            }
                        }
                    }
                    label{display:none}
                }
            }
            .header links{
                flex: 1 0 auto;
            }
        }
    }

    .header.content{

        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        width:$logo-width;
        //logo
        .logo {
            flex: 1 0 auto;
            width:$logo-width;
            text-align: center;
        }

        //nav-toggle #TODO
        .nav-toggle {
            display: none;
            @include sm {
                display:block;
                float: right;
                position: relative;
                z-index: 1;
                background: transparent;
                border: none;
                font-size: 0;
                outline: none;
                width: 34px;
                height: 34px; 
                cursor: pointer;
                margin-top: 20px;
                top: 2px;

                span {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 10px;
                    width: 15px;
                    height: 4px;
                    transition: all .3s cubic-bezier(.56,.01,0,1);
                    transition-delay: 0;

                    @include xs {
                        height: 3px;
                    }

                    &:before,
                        &:after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        height: 4px;
                        transition: all .3s cubic-bezier(.56,.01,0,1);

                        @include xs {
                            height: 3px;
                        }
                    }

                    &:before {
                        top: -10px;
                        width: 30px;
                        transition-delay: .2s;
                    }

                    &:after {
                        top: 10px;
                        width: 23px;
                        transition-delay: .1s;
                    }
                }
                // rollover
                @media (hover: hover) {
                    &:hover {
                        span {
                            width: 30px;

                            &:before {
                                width: 23px;
                            }

                            &:after {
                                width: 15px;
                            }
                        }
                    }
                }
            }   
            // active
            &.open-nav {
                header.header {
                    .nav-toggle {
                        span {
                            width: 0;
                            transition-delay: .2s;

                            &:before,
                                &:after {
                                transform: rotate(135deg);
                                transform-origin: center;
                                width: 30px;
                                top: 0;
                            }

                            &:after {
                                transform: rotate(-135deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
