@import "variables";

.page-header,
.nav-sections,
.breadcrumbs,
.page-main,
.page-footer,
.copyright{
    max-width: 1680px;
    margin:auto;
}

.page-header,
.breadcrumbs,
.page-footer,
.copyright{
    display: flex;
    flex-direction: row;
    flex:1 100%;
}

.page-header,
.breadcrumbs,
.page-main,
.page-footer,
.copyright{
    padding:0px 40px;
    @include md {
        padding:0px 20px;
    }
    @include xs {
        padding:0px 10px;
    }
}

.page-main{
    display: flex;
    flex-direction: column;
}

.columns{
    display:flex;
    flex-direction: row-reverse;
    
    @include xs {
        flex-direction: column-reverse;
    }
    
    .sidebar,.sidebar-additional{
        display:flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 23%;
    }

    .sidebar-additional{
        display:none;
    }

    .main{
        display:flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 76%;
    }
}

aside{
    background:aquamarine;
}
