@import "variables";


/*--------------------------------------------------
Loading Page
--------------------------------------------------*/
.loading-page {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg-alternative;
    transform: translateX(-100%);

    &:before {
        content: '';
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: darken($bg-alternative, 5%);
        transform: translateX(-100%);
    }
}

body.debug {
    .loading-page {
        display: none !important;
    }

    div.wrapper {
        opacity: 1;
        transform: scale(1);
        transition: none!important;
    }
}

.start {
    .loading-page {
        transform: translate(0);
    }
}

.loading {
    .loading-page {
        transform: translate(0);
        transition: transform .8s cubic-bezier(.56,.01,0,1);

        &:before {
            transform: translate(0);
            transition: transform .8s cubic-bezier(.56,.01,0,1) .2s;
        }

        .no-js & {
            display: none !important;
        }
    }

    @media (min-width: 768px) {
        .wrapper {
            opacity: .6;
            transform: scale(0.8);
            transition-delay: 0s;

            .no-js & {
                opacity: 1;
                transform: none;
            }
        }
    }
}

.loaded {
    .loading-page {
        transform: translate(100%);
        transition-delay: .4s;

        &:before {
            transform: translate(100%);
            transition-delay: 0s;
        }
    }
}