@import "variables";


/*--------------------------------------------------
Nav Main
--------------------------------------------------*/
nav.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    width:100%;
    position:fixed;
    top:80px;
    background-color:purple;
    z-index:100;
    ul{
        width: auto;
        padding-left: 0px;
        list-style: none;
        display: flex;
        flex-direction:row;
        li{
            a{
                text-transform: uppercase;
                font-size: 12px;
                padding:5px 17px;
                color:$font-base;
                &:hover{
                    text-decoration: none;
                    color:$font-title;
                }
            }
            ul{
                display:block;
                position: absolute !important;
            }
        }
    }
}

