//Start product page
.catalog-product-view {

  font-family: Lora;

  #maincontent .column {
    flex-direction: row;
    flex-flow: row wrap;
    background-color: $bg-secondary;

    .product.media {
      width: 65%;

      .fotorama__nav {
        display: flex;
        align-items: center;
      }
    }

    .product-info-main {

      width: 35%;

      .page-title-wrapper {
        h1 {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 0px;
        }
      }

      .product-info-stock-sku {
        font-size: 11px;
        letter-spacing: 1px;
        color: #979797;
        display: inline-flex;
        width: 50%;
        strong {
          font-weight: 500;
        }
        .stock {
          display: none;
        }
        .product.attribute.sku {
          display: flex;
        }
      }

      .product-reviews-summary {
        display: inline-flex;
        width: 50%;
        font-size: 11px;
        letter-spacing: 1px;
        color: #979797;
        .rating-summary{
          display: inline-flex;
          margin-right: 10px;
        }

        .reviews-actions{
          font-weight: 500;
          a{
            color: #979797;
          }
          .action.add{
            display: none;
          }
        }
      }
      .product-info-price {

      }
      .product-add-form {
        form {
          .product-options-wrapper {

            .swatch-attribute-label {
              font-size: 13px;
              line-height: 21px;
            }

            .swatch-attribute-options {
              .swatch-option {
                width: 48px;
                height: 30px;
                background-color: #ececec;
                font-size: 13px;
                color: $font-btn;
              }
            }
          }
          .product-options-bottom, .box-tocart {
            .fieldset {
              display: flex;
              flex-flow: wrap;
              .quantityInfo {
                width: 100%;
              }
              .qty {
                select#qty {
                  width: 108px;
                  height: 40px;
                  font-size: 13px;
                  color: $font-base;
                  padding-left: 15px;
                  margin-right: 20px;
                }
              }
              .actions {
                #product-addtocart-button {
                  width: 285px;
                  height: 40px;
                  border: none;
                }
              }
            }

          }
        }

      }
      .product-social-links {
        a{
          text-transform: uppercase;
          font-size: 12px;
          border-bottom: solid 1px $font-link;
          padding-bottom: 7px;
        }
        a:hover{
          text-decoration: none;
        }
      }
    }

    .product.info.detailed{
      width: 65% !important;
      .product.data.items{
        border-bottom: solid 1px #9b9b9b;
        display: flex;
        .item{
          min-width: 80px;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
            a{
              font-size: 13px;
              line-height: 21px;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: #9b9b9b;
              font-family: Roboto;
            }
          a:hover, a:visited, a.active{
            text-decoration: none;
          }
        }

        .item.active{
          border-bottom: 1px solid $font-link;
            a{
              color: $font-link;
            }
        }
      }

      .data-items-html{
        padding: 20px;
        .data-item-html{

          h1, h2, h3 {
            color: $font-link;
          }

          display: none;
          font-family: Roboto;
          color: $font-base;
          line-height: 25px;
          font-size: 15px;
        }

      }
    }

    .product.info.detailed {
      width: 100%;
    }
  }


  .fotorama--fullscreen{

    .fotorama__nav{
      display: flex;
      align-items: center;
    }

  }


}

//End product page