@import "variables";


/*--------------------------------------------------
Social Share
--------------------------------------------------*/
.social-share {
    margin: -30px 0 50px;

    @include xs {
        margin: 0;
    }

    .social-share-links {
        margin: -5px 0 55px;
    }

    .social-share-link {
        color: $bg-cta;
        font-size: 18px;
        margin: 0 20px;

        i.fa-twitter {
            font-size: 19px;
        }

        i.fa-envelope {
            font-size: 17px;
            transform: translateY(-1px);
        }
    }
}
