@import "variables";


/*--------------------------------------------------
Typography
--------------------------------------------------*/
//CHECK: margin-bottom:titles, smt:itles
body{
    color: $font-base;
    font-family: $font-fam-base;
    font-size: 15px;
    line-height: 26px;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4 {
    font-family:$font-fam-title;
    color: $font-title;
    line-height: 1;
}

.h1, h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 30px;

    @include xs {
        font-size: 24px;
        line-height: 36px;
    }
}

.h2, h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;

    @include xs {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }

}

.h3, h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;

    @include xs {
        font-size: 16px;
        line-height: 24px;
    }
}

.h4, h4 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;

    @include xs {
        font-size: 13px;
        line-height: 18px;
    }
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.text,
.cta,
.eyelet,
br,
span,
div,
a,
nav {
    &::selection {
        color: $font-title; 
        background: $bg-alternative;
    }
}

//#TODO small border on some titles
//reference: http://dabblet.com/gist/1601054

strong, b {
    font-weight: 700;
}

a {
    color: $font-link;
    margin: 0 0px;
    font-weight: 600;
    position: relative;
    
    &:hover{
        text-decoration: underline;
        color: $font-link;
    }
    &:focus{
        outline:none;
        outline-offset: 0;
    }
    //#TODO
    //Increasing border on A hover
    //weird css to test
    //other reference
    //https://codepen.io/Nickramer/pen/KNpJyO?depth=everything&limit=all&order=popularity&page=10&q=underline+animation&show_forks=false
    /*  &:before {
        position: absolute;
        margin: 0 auto;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        content: '';
        opacity: .3;
        -webkit-transform: scaleX(.9);
        transition-property: opacity, -webkit-transform;
        transition-duration: .3s;
    }
    &:hover:before, &:focus:before {
      opacity: 1;
      -webkit-transform: scaleX(1);
    }*/
    
    //TODO paragrapg style
    
   
}


