//--------------------------------------------------
// Structure
//--------------------------------------------------
$grid-gutter-width-base:     30px;


//--------------------------------------------------
// Background colors
//--------------------------------------------------

$bg-main:       #ffffff;
$bg-secondary:  #f8f8f8; 
$bg-alternative:#f2f2f2;
$bg-border:     #cccccc;
$bg-cta:        #f75e24;
$bg-sale:       #f44141;

$bg-alert:      #fefad2;
$bg-sucess:     #e6f2dc;
$bg-warning:    #ffe3e6;
$bg-info:       #e6fbff;


//--------------------------------------------------
// Font colors
//--------------------------------------------------
$font-base:       #4a4a4a;
$font-title:      #000000; 
$font-link:       #000000;
$font-light-grey: #f8f8f8; 

$font-alert:      #ff9453;
$font-sucess:     #81af5a;
$font-warning:    #f44141;
$font-info:       #4ba9e8;

$font-btn:     #000000;
$font-btn-hover:#ffffff;

//--------------------------------------------------
// Font family
//--------------------------------------------------
$font-fam-title:  Lora, Georgia, serif;;
$font-fam-base:   Roboto, sans-serif;

//--------------------------------------------------
// Media Query
//--------------------------------------------------
$lg-width: 1560px;
$md-width: 1199px;
$sm-width: 991px;  
$xs-width: 767px;
$xxs-width: 575px;

@mixin lg {
  @media (max-width: #{$lg-width}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md-width}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm-width}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs-width}) {
    @content;
  }
}
 
@mixin xxs {
  @media (max-width: #{$xxs-width}) {
    @content;
  }
}
