<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php
$_product = $block->getProduct();
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="quantityInfo"><?php echo __('Disponibile'); ?> <span class="quantityInfoNumber">10</span> <?php echo __('Artic'); ?></div>
                <div class="field qty">
<!--                    <label class="label" for="qty"><span>--><?php ///* @escapeNotVerified */
//                            echo __('Qty') ?><!--</span></label>-->
                    <div class="control">
                        <select name="qty" id="qty" title="<?php echo __('Qty') ?>" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
                            <?php for ($i = 1; $i <= 10; $i++): ?>

                                <option value="<?php echo $i; ?>"><?php echo $i; ?></option>

                            <?php endfor; ?>
                        </select>
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */
                        echo $buttonTitle ?>"
                        class="btn btn-lg btn-hot"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */
                        echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
    </script>
<?php endif; ?>
